@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: 'Montserrat', sans-serif;
    /* max-width: 100%; */
}



.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    padding: 10px 20px;
    position: fixed;
    top: 0;
    background-color: white;
    box-sizing: border-box;
   
}

.logo{
    width: 100px;
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 500px; */
    gap: 50px;
   
}

.nav-lists{
    text-decoration: none;
    color: rgb(26, 25, 25);
    display: flex;
    list-style: none;
    gap: 30px;

}

.nav-button{
    background-color:  #ED1C24;
    color: white;
    width: 150px;
    height: 35px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
     display: flex;
    align-items: center;
    justify-content: center; 

}

@media (max-width: 800px) {
    .nav-lists{
        display: none;
    }
 }

 section{
    min-width: 80%;
    display: flex;
    
    flex-direction: column;
     /* border: 3px solid black; */
     /* margin-top: 50px; */
     margin: 20px auto;
     
 }

 .header{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    
 }

 .header-text{
    max-width: 70%;
    font-size: 2rem;
 }
 
 .h1-text{
    margin-bottom: 20px;
 }

 .p-text{
    font-size: 24px;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
 }

.main-grid{
    display: grid; 
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr); 
    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
   
 } 

 .card-grid{
    border-radius: 12px;
    overflow: hidden;
    /* overflow overrides border-radius */
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.089);
    
 } 
 
                /* grid-1 */
 .b-image1{
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* align-items: stretch; */
    justify-content: end;
    padding: 20px 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.61)), url(./media/grid-box-1);
    color: white;
    font-size: 30px;
 }

 .b-text1{
    background-color: #EE8695;
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 30px;
 }

 .text-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    /* border: 1px solid ; */
    border-radius: 30px;
    color: #3F1A05;
    background-color: #F3ABB5;
    font-weight: bold;
    font-size: 17px;
 }

            /* grid-2 */
.b-image2{
     height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* align-items: stretch; */
    justify-content: end;
    padding: 20px 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.61)), url(./media/grid-box2);
    color: white;
    font-size: 30px;
} 

.b-text2{
    background-color: #DF9295;
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 30px; 
}

.text-button2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    /* border: 1px solid ; */
    border-radius: 30px;
    color: #3F1A05;
    background-color: #E9B4B6;
    font-weight: bold;
    font-size: 17px;
 }
 

        /* grid-3 */
.b-image3{
     height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* align-items: stretch; */
    justify-content: end;
    padding: 20px 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.61)), url(./media/grid-box-3);
    color: white;
    font-size: 30px;
} 

.b-text3{
    background-color: #CFE8FF;
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 30px; 
}

.text-button3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    /* border: 1px solid ; */
    border-radius: 30px;
    color: #3F1A05;
    background-color: #DDEFFF;
    font-weight: bold;
    font-size: 17px;
 }

            /* grid-4 */
 .b-image4{
     height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* align-items: stretch; */
    justify-content: end;
    padding: 20px 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.61)), url(./media/grid-box-4);
    color: white;
    font-size: 30px;
} 

.b-text4{
    background-color:#91A4C7 ;
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 30px; 
}

.text-button4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    /* border: 1px solid ; */
    border-radius: 30px;
    color: #3F1A05;
    background-color:#B2BFD8 ;
    font-weight: bold;
    font-size: 17px;
 }


        /* grid-5 */
 .b-image5{
     height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* align-items: stretch; */
    justify-content: end;
    padding: 20px 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.61)), url(./media/grid-box-5);
    color: white;
    font-size: 30px;
} 

.b-text5{
    background-color: #FF80D2;
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 30px; 
}

.text-button5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    /* border: 1px solid ; */
    border-radius: 30px;
    color: #3F1A05;
    background-color: #FFA6E0;
    font-weight: bold;
    font-size: 17px;
 }


                /* grid-6 */
 .b-image6{
     height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* align-items: stretch; */
    justify-content: end;
    padding: 20px 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.61)), url(./media/grid-box-6);
    color: white;
    font-size: 30px;
} 

.b-text6{
    background-color: #AD9BCA;
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 30px; 
}

.text-button6{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    /* border: 1px solid ; */
    border-radius: 30px;
    color: #3F1A05;
    background-color: #C6B9DA;
    font-weight: bold;
    font-size: 17px;
 }
 
                /* grid-7 */
.b-image7{
     height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* align-items: stretch; */
    justify-content: end;
    padding: 20px 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.61)), url(./media/grid-box-7);
    color: white;
    font-size: 30px;
} 

.b-text7{
    background-color: #94CDC6;
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 30px; 
}

.text-button7{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    /* border: 1px solid ; */
    border-radius: 30px;
    color: #3F1A05;
    background-color: #B4DCD7;
    font-weight: bold;
    font-size: 17px;
 }
 
        /* grid-8 */

.b-image8{
     height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* align-items: stretch; */
    justify-content: end;
    padding: 20px 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.61)), url(./media/grid-box-8);
    color: white;
    font-size: 30px;
} 

.b-text8{
    background-color: #7F99DF;
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 30px; 
}

.text-button8{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    /* border: 1px solid ; */
    border-radius: 30px;
    color: #3F1A05;
    background-color: #A6B8E9;
    font-weight: bold;
    font-size: 17px;
 }
 


    /* grid-9 */
.b-image9{
     height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* align-items: stretch; */
    justify-content: end;
    padding: 20px 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.61)), url(./media/grid-box-9);
    color: white;
    font-size: 30px;
} 

.b-text9{
    background-color: #7FB9B8;
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 30px; 
}

.text-button9{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    /* border: 1px solid ; */
    border-radius: 30px;
    color: #3F1A05;
    background-color: #A6CECD;
    font-weight: bold;
    font-size: 17px;
 }
 


        /* grid-10 */
.b-image10{
     height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* align-items: stretch; */
    justify-content: end;
    padding: 20px 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.61)), url(./media/grid-box-10);
    color: white;
    font-size: 30px;
} 

.b-text10{
    background-color:#FEDC88 ;
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 30px; 
}

.text-button10{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    /* border: 1px solid ; */
    border-radius: 30px;
    color: #3F1A05;
    background-color:#FEE7AC ;
    font-weight: bold;
    font-size: 17px;
 }
 


    /* grid-11 */
.b-image11{
     height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* align-items: stretch; */
    justify-content: end;
    padding: 20px 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.61)), url(./media/grid-box-11);
    color: white;
    font-size: 30px;
} 

.b-text11{
    background-color: #D9CCC0;
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 30px; 
}

.text-button11{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    /* border: 1px solid ; */
    border-radius: 30px;
    color: #3F1A05;
    background-color: #E4DBD3;
    font-weight: bold;
    font-size: 17px;
 }
 


        /* grid-12 */
.b-image12{
     height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* align-items: stretch; */
    justify-content: end;
    padding: 20px 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.61)), url(./media/grid-box-12);
    color: white;
    font-size: 30px;
} 

.b-text12{
    background-color: #E09396;
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 30px; 
}

.text-button12{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    /* border: 1px solid ; */
    border-radius: 30px;
    color: #3F1A05;
    background-color: #E9B4B6;
    font-weight: bold;
    font-size: 17px;
 }
 

            /* grid-13 */
.b-image13{
     height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* align-items: stretch; */
    justify-content: end;
    padding: 20px 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.61)), url(./media/grid-box-13);
    color: white;
    font-size: 30px;
} 

.b-text13{
    background-color: #9DC89F;
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 30px; 
}

.text-button13{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    /* border: 1px solid ; */
    border-radius: 30px;
    color: #3F1A05;
    background-color: #BBD9BC;
    font-weight: bold;
    font-size: 17px;
 }
 
.gc-text{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 40px;
    /* border: 5px solid black; */
    width: 90%;
    height: 70vh;
    margin: 0px auto;
    /* padding: auto; */
}

.bottom-icons{
    display: flex;
    flex-wrap: wrap;
    /* padding: 70px; */
}

.gc-icons{
    width: 200px;
    object-fit: contain;
    padding: 20px;
    box-sizing: border-box;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
 }

 .smicons{
     display: flex;
     gap: 20px; 
     list-style: none;
     /* background-color: #ED1C24; */
     margin-top: 30px;
     filter: invert(20%) sepia(97%) saturate(3000%);
 }

 .bottom-lists{
    margin-top: 40px ;
    margin-bottom: 30px;
 }

  .bottom-nav{
    /* border: 1px solid; */
    /* box-shadow: #ED1C24; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: white;
    position: fixed;
    bottom: 30px;
    border-radius: 12px;
    width: 500px;
    /* margin-left: 20%; */
    box-shadow: 1px 1px 3px 1px grey;
 }

 .bottom-nav-button{
    background: none;
    color: #ED1C24;
    border:1px solid #ED1C24;
    width: 30px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16px;
 }





















